---
layout: root
tags: garden
---
<div class="pt-4 flex space-x-4 justify-center">
  <div class="w-192 flex flex-col px-8">
    
    <h1 class="pb-10 text-grm-white text-4xl sm:text-5xl leading-10 font-black align-middle uppercase">
      {{ title }}
    </h1>
    <div class="flex text-sm -mt-10 pb-2 flex-col sm:flex-row sm:gap-4 border-b-2 border-gray-700">
      <div>{{ status | prettyStatus }}</div>
      <div data-date-swap class="hover:underline no-underline cursor-pointer">
        <i data-date-rel class="flex gap-1">Planted {% render "time-since" date: planted %}</i>
        <i data-date-abs>Planted {{ planted | formatDate: "MM/DD/YYYY h:mm a" }} </i>
      </div>
      {%if tended %}
      <div data-date-swap class="hover:underline no-underline cursor-pointer">
        <i data-date-rel class="flex gap-1">Last tended {% render "time-since" date: tended %}</i>
        <i data-date-abs>Last tended {{ tended | formatDate: "MM/DD/YYYY h:mm a" }} </i>
      </div>
      {% endif %}
    </div>

    <main class="
      pb-8 pt-5
      
      prose text-grm-white prose-base text-sm prose:max-w-full
      prose-blockquote:m-0
      prose-strong:font-extrabold
      prose-headings:text-grm-white prose-headings:uppercase prose-headings:leading-6 prose-headings:mb-4 prose-headings:mt-8
      prose-h1:text-3xl 
      prose-strong:text-grm-white 
      prose-code:text-gray-400 prose-code:font-mono prose-code:bg-gray-800 prose-code:font-thin prose-code:before:hidden prose-code:after:hidden
      prose-pre:w-80 sm:prose-pre:w-full
      prose-tr:divide-x prose-tr:border-gray-500
      prose-blockquote:text-grm-white prose-blockquote:font-mono
      prose-a:text-grm-red prose-a:font-bold prose-a:no-underline hover:prose-a:bg-gray-800
      marker:text-grm-white
      prose-ul:m-0 prose-li:my-0

      prose-p:mb-0
    ">
      {{ content }}
    </main>
    
    <br/>
    
    <div class="text-sm text-center">  
      <div class="flex text-sm opacity-60 mb-10 flex-col sm:flex-row sm:gap-4 border-t-2 pt-4 border-gray-600">
        <a class=" text-grm-red font-bold no-underline hover:bg-gray-800" href="https://github.com/GamesRightMeow/GamesRightMeow.github.io/commits/main/src{{ page.filePathStem }}.md">
          View page history</a>
        <div class="grow"></div>
        <div>
          <span>This is a digital garden, not a blog 🌻</span>
          <a class="text-grm-red font-bold no-underline hover:bg-gray-800" href="/garden/">Learn more</a>
        </div>
      </div>
      
    </div>
  </div>
</div>

