---
title: Games Right Meow
layout: main
---

<div class="flex flex-col items-center">
  {%- for post in collections.post -%}
  <div class="p-4 flex space-x-4">
    <span class="flex flex-col">
      <div class="text-gray-500 text-xl font-normal uppercase text-center">{{ post.date | date: "%b" }}</div>
      <div class="h-8 tracking-tighter leading-9 text-5xl font-normal text-center">{{ post.date | date: "%d" }}</div>
      <div class="text-gray-500 translate-y-1 tracking-tighter text-2xl font-normal text-center">{{ post.date | date: "%Y" }}</div>
    </span>

    <span class="p-2 flex flex-col justify-center">
      <div class="text-3xl md:text-4xl leading-8 font-black align-middle uppercase">
        <a class="text-custom-link hover:bg-gray-800" href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </div>
      <div class="text-sm md:text-base font-normal -translate-y-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </span>
  </div>
  {%- endfor -%}
</div>